In [24]:
import numpy as np
import pandas as pd
import glob # to import all files at once

# Load Private property data

In [25]:
path_property = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200411\1_PrivateProperty' # use your path for 1st private property file
path_property1 = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200417\1_PrivateProperty' # use your path for 2nd PP file
path_property2 = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200424\1_PrivateProperty' # use your path for 3rd file

property = glob.glob(path_property + "/*.xlsx")
property1 = glob.glob(path_property1 + "/*.xlsx")
property2 = glob.glob(path_property2 + "/*.xlsx")

li = []

for filename in property:
    a = pd.read_excel(filename, index_col=None, header=0)
    a['scrapping_week'] = 1
    li.append(a)
    
for filename in property1:
    a = pd.read_excel(filename, index_col=None, header=0)
    a['scrapping_week'] = 2
    li.append(a)

for filename in property2:
    a = pd.read_excel(filename, index_col=None, header=0)
    a['scrapping_week'] = 3
    li.append(a)

df_property = pd.concat(li, axis=0, ignore_index=True)
df_property = df_property.sort_values(['scrapping_week', 'property_addedtime']).drop_duplicates(['property_address','property_addedtime','property_description','property_price'], keep='first')

df_property.head()

,property_addedtime,property_address,property_balcony,property_bedroom,property_description,property_garden,property_parking,property_penthouse,property_postcode,property_price,property_tenure,property_tube,property_tubedist,scrapping_week
6164,01 April 2019,"Bruce House, Harrow, London, HA1 2FW",False,1,1 bedroom apartment for sale,False,False,False,HA1 2FW,75500,Leasehold,Harrow-on-the-Hill,(0.5 mi),1
11785,01 April 2019,"Coniston Gardens, London",False,2,2 bedroom detached house for sale,False,True,False,N9 8NB,314950,Freehold,Edmonton Green,(0.7 mi),1
11873,01 April 2019,"Old Park View, Enfield",False,4,4 bedroom detached house for sale,True,True,False,EN2 7EH,1150000,NaN,Enfield Chase,(0.3 mi),1
20840,01 April 2019,"Ellesmere Close, Wanstead",False,7,7 bedroom semi-detached house for sale,True,True,False,E11 1PT,1250000,Freehold,Snaresbrook,(0.2 mi),1
27899,01 April 2019,"Mitcham Lane, Streatham",False,2,2 bedroom flat for sale,True,False,False,SW16 6LW,375000,Leasehold,Streatham,(0.2 mi),1

In [26]:
df_property.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31986 entries, 6164 to 92867
Data columns (total 14 columns):
property_addedtime      31747 non-null object
property_address        31986 non-null object
property_balcony        31986 non-null object
property_bedroom        31986 non-null object
property_description    31986 non-null object
property_garden         31986 non-null object
property_parking        31986 non-null object
property_penthouse      31986 non-null object
property_postcode       31986 non-null object
property_price          31986 non-null object
property_tenure         24667 non-null object
property_tube           31978 non-null object
property_tubedist       31978 non-null object
scrapping_week          31986 non-null int64
dtypes: int64(1), object(13)
memory usage: 3.7+ MB

# Load Commertial Property Data

In [27]:
path_commercial = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200411\2_CommericalProperty' # use your path for 1st private commercial file
path_commercial1 = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200417\2_CommercialProperty' # use your path for 2nd PP file
path_commercial2 = r'C:\Users\dsimu\Desktop\ARP\Rightmove_Data_20200424\2_CommercialProperty' # use your path for 3rd file

commercial = glob.glob(path_commercial + "/*.xlsx")
commercial1 = glob.glob(path_commercial1 + "/*.xlsx")
commercial2 = glob.glob(path_commercial2 + "/*.xlsx")

co = []

for filename in commercial:
    a = pd.read_excel(filename, index_col=None, header=0)
    co.append(a)
    
for filename in commercial1:
    a = pd.read_excel(filename, index_col=None, header=0)
    co.append(a)

for filename in commercial2:
    a = pd.read_excel(filename, index_col=None, header=0)
    co.append(a)

df_commercial = pd.concat(co, axis=0, ignore_index=True)
df_commercial = df_commercial.sort_values(['search_date']).drop_duplicates(['address','type','price'], keep='first')

df_commercial.head()

,Unnamed: 0,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
1517,498,900000.0,Commercial property for sale,"Sandhurst Road, Catford, SE6",http://www.rightmove.co.uk/commercial-property...,NaN,SE6,NaN,2020-04-11 16:00:27.191242
1273,254,120000.0,Restaurant for sale,"London, London - Central",http://www.rightmove.co.uk/commercial-property...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,NaN,2020-04-11 16:00:27.191242
1272,253,NaN,Restaurant for sale,"Green Lanes, London, N21",http://www.rightmove.co.uk/commercial-property...,http://www.rightmove.co.uk/estate-agents/agent...,N21,NaN,2020-04-11 16:00:27.191242
1271,252,125000.0,Hairdresser / barber shop for sale,"London, SW6",http://www.rightmove.co.uk/commercial-property...,http://www.rightmove.co.uk/estate-agents/agent...,SW6,NaN,2020-04-11 16:00:27.191242
1270,251,NaN,Restaurant for sale,"Cocktail Bar and Jazz Venue, Clapham, London, ...",http://www.rightmove.co.uk/commercial-property...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,NaN,2020-04-11 16:00:27.191242

In [28]:
df_commercial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1226 entries, 1517 to 5318
Data columns (total 9 columns):
Unnamed: 0         1226 non-null int64
price              1051 non-null float64
type               1226 non-null object
address            1226 non-null object
url                1226 non-null object
agent_url          734 non-null object
postcode           849 non-null object
number_bedrooms    80 non-null float64
search_date        1226 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 95.8+ KB